* {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  display: block;
  position: fixed;
  width: 100%;
  height: 24%;
  background: #ffffff;
  border-radius: 0px 0px 12px 12px;
  z-index: 5;
}

nav {
  text-align: right;
  font-weight: bold;
  margin-top: 42px;
  margin-left: 60%;
  margin-right: 5%;
  font-size: 1.2rem;
  font-family: "Roboto";
  padding: 10px;
  padding-right: 20px;
  word-spacing: 20px;
}

a {
  text-decoration: none;
  color: #ff4b40;
}

a:hover {
  transition: all 300ms ease-in-out;
  color: #b31d1d;
}

.background {
  display: block;
  width: 100%;
  height: 250px;
  left: 0px;
  right: 0;
  top: 0;
  padding-top: 150px;
  background-position-y: -550px;
  background-color: #ffffff;
  border-radius: 0px 0px 12px 12px;
}

.gradiente {
  position: absolute;
  width: 100%;
  margin-top: 10px; 
  height: 18rem; /*alteracao estagio, antes era 9*/
  left: 0px;
  top: 150px;
  padding-top: 160px;
  background: linear-gradient(
    100.53deg,
    #ffffff 11.67%,
    rgba(255, 255, 255, 0) 100%,
    rgba(255, 255, 255, 0.231224) 100%,
    rgba(255, 255, 255, 0.0802525) 100%
  );
  border-radius: 0px 0px 12px 12px;
}

.bg-img {
  object-fit: cover;
  height: 45%;
  width: 100%;
  border-radius: 0px 0px 12px 12px;
  opacity: 30%;
  background-color: #ffffff;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
}

h1 {
  position: absolute;
  display: block;
  width: 266px;
  height: 68px;
  left: 10%;
  top: 25%;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 2.7rem;
  line-height: 84.5%;
  color: #ff4b40;
}

.texto-inicio {
  display: block;
  height: 600px;
  width: 600px;
  margin-left: 25%;
  margin-right: auto;
}

h2 {
  display: block;
  position: absolute;
  width: 541px;
  height: 92px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  top: 42%;
  font-weight: 600;
  font-size: 40px;
  line-height: 115%;
  color: #ff4b40;
}

.caixa-de-busca {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem; /*alteracao estagio, antes nao existia a propriedade*/
  height: 64px;
  width: 50%;
  display: block;
  position: relative;
}

.dados-site {
  display: inline-block;
  width: 80%;
  height: 64px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #b7b7b7;
  border-radius: 12px 0px 0px 12px;
}

.botao {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px;
  gap: 10px;
  font-family: "Roboto";
  position: absolute;
  width: 20%;
  height: 64px;
  background: #ff4b40;
  border-radius: 0px 12px 12px 0px;
}

input {
  font-family: "Roboto";
  font-size: 1rem;
}

.botao input[type="submit"] {
  background-color: #ff4b40;
  font-family: "Roboto";
  color: #ffffff;
  display: inline-block;
}

.filtros {
  width: 52%;
  padding-left: 10px; /*alteracao do estagio*/
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.nomeref {
  display: inline-block;
  margin-left: 10px;
  left: 296px;
  font-size: 1.2rem;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ff4b40;
  font-family: "Roboto";
  color: #ff4b40;
  margin-bottom: 10px;
  gap: 10px;
  border-radius: 12px 12px 12px 12px;
}

#card-restaurantes {
  display: block;
  position: absolute;
  font-family: "roboto";
  left: 25%;
  width: 60%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

li {
  position: relative;
  display: inline-block;
  font-family: "roboto";
  color: #ff4b40;
  border-radius: 12px;
  border: 1px #b6b6b6 solid;
  margin-bottom: 50px;
  margin-right: 50px;
  width: 30%;
  height: 170px;
}
